.chat-user{
    text-align:right;
    float:right;
    width:90%
}
.chat-other{
    text-align:left;
    float:left;
    width:90%
}
.chat-body{
    width:85%;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    overflow-y:scroll;
    box-shadow: 0 0 3px #ccc;
}

.chat-submit{
    width:90%;
}