<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div ng-if="cc.isBot">
    <div class="main-head">Conversation with {{cc.currBot.name}}</div>
</div>
<div ng-if="cc.isNotBot">
    <div class="main-head">Conversation with {{cc.currUser.firstName}} {{cc.currUser.lastName}}</div>
</div>
<div class="chat-body" id="chat-body">
    <div ng-repeat="x in cc.chatHistory">
        <div ng-if="cc.isUser(x.to)">
            <div class="main-chat-right">
                <div class="main-chat-time">{{x.dateTime}}</div>
                <div class="main-chat-text">{{x.text}}</div>
            </div>
        </div>
        <div ng-if="cc.isNotUser(x.to)">
            <div ng-if="x.type === 'text'">
                <div class="main-chat-left">
                    <div class="main-chat-time">{{x.dateTime}}</div>
                    <div class="main-chat-text">{{x.text}}</div>
                </div>
            </div>
            <div ng-if="x.type === 'mc' && x.current">
                <div class="main-chat-center">
                    <div class="main-chat-time">{{x.dateTime}}</div>
                    <div ng-repeat="y in x.newOptions">
                        <div layout="row" layout-align="center center">
                            <md-button ng-click="cc.sendOption($index, $parent.$index)" ng-style="main.button" ng-repeat="z in y">{{z}}</md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="x.type === 'mc' && !x.current">
                <div class="main-chat-left">
                    <div class="main-chat-time">{{x.dateTime}}</div>
                    <div ng-repeat="y in x.newOptions">
                        <div layout="row" layout-align="start center">
                            <div ng-repeat="z in y">
                                <md-button ng-if="cc.isSelected($index, $parent.$index, $parent.$parent.$index)" ng-style="cc.buttonSelected">{{z}}</md-button>
                                <md-button ng-if="!cc.isSelected($index, $parent.$index, $parent.$parent.$index)" ng-style="main.button">{{z}}</md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout="column" layout-align="center end" class="chat-submit">
    <mdinput-container>
        <label>Write something!</label>
        <input type="text" ng-model="cc.myMessage" ng-keyup="handleEvent($event)">
    </mdinput-container>
    <div ng-if="cc.isBot">
        <md-button ng-click="cc.sendMessage()" ng-style="main.button">Send</md-button>
    </div>
    <div ng-if="cc.isNotBot">
        <md-button ng-click="cc.sendUserMessage(cc.currUser.id)" ng-style="main.button">Send
    </div>
</div>
</body>
</html>