<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main-link">{{bsc.bot.name}}</div>
    <div>This bot requires the following permissions</div>
    <div ng-if="bsc.bot.basicPerm">Name, gender</div>
    <div ng-if="bsc.bot.emailPerm">Email Address</div>
    <div ng-if="bsc.bot.locationPerm">Location</div>
    <div ng-if="bsc.bot.birthdayPerm">Birthday</div>
    <div ng-click="bsc.acceptPermissions()" class="main-link">Accept and continue to bot</div>
    <div ng-click="bsc.declinePermissions()" class="main-link">Decline and return to home page</div>

</body>
</html>