<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <md-button ng-click="main.setLocation('/botExploration')">Explore Bots</md-button>
    <md-button ng-click="bnc.setLocation('newGroup')">Make a group</md-button>
    <md-button ng-click="bnc.setLocation('profile')">{{main.username}}</md-button>
    <md-button ng-click="main.setLocation('/userExploration')">Explore Users</md-button>
    <md-button ng-click="main.setLocation('/notifications')">Notifications</md-button>
    <md-button ng-click="main.logout()">Log Out</md-button>

</body>
</html>