<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <md-nav-bar md-selected-nav-item="currentNavItem">
        <md-nav-item ng-if="main.loggedIn" md-nav-click="main.setLocation('/botExploration')" name="Explore Bots">Explore Bots</md-nav-item>
        <md-nav-item ng-if="main.loggedIn" md-nav-click="bnc.setLocation('newGroup')" name="Make a Group">Make a Group</md-nav-item>
        <md-nav-item ng-if="main.loggedIn" md-nav-click="main.logout()" name="Log out">Log Out</md-nav-item>
        <md-nav-item ng-if="main.loggedIn" md-nav-click="bnc.setLocation('profile')" name="Your Profile">Your Profile</md-nav-item>
    </md-nav-bar>
</body>
</html>