<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main-title">Welcome</div>
    <div class="main-subhead">Login</div>
    <div class="lrc-unit1"><input type="text" ng-model="lrc.user.username" class="add-addUnit" placeholder="something@example.com"><label class="lrc-label">Email address</label></div>
    <div class="lrc-unit1"><input type="password" ng-model="lrc.user.password" class="add-addUnit"><label class="lrc-label">Password</label></div>
    <div class="main-error" ng-if="lrc.userNameBad">Invalid username</div>
    <div class="main-error" ng-if="lrc.passwordBad">Incorrect Password</div>
    <div class="main-error" ng-if="lrc.databaseError">Internal Error</div>
    <div ng-click="login()" class="main-link">Login</div>

    <div class="main-subhead">Register</div>
    <div class="lrc-unit1"><input type="text" ng-model="lrc.newUser.firstName" class="add-addUnit"><label class="lrc-label">First Name</label></div>
    <div class="lrc-unit1"><input type="text" ng-model="lrc.newUser.lastName" class="add-addUnit"><label class="lrc-label">Last Name</label></div>
    <div class="lrc-unit1"><input type="text" ng-model="lrc.newUser.location" class="add-addUnit"><label class="lrc-label">Location</label></div>
    <div class="lrc-unit1"><input type="text" ng-model="lrc.newUser.emailAddress" class="add-addUnit"><label class="lrc-label">Email Address</label></div>
    <div class="lrc-unit1"><input type="text" ng-model="lrc.newUser.gender" class="add-addUnit"><label class="lrc-label">Gender</label></div>
    <div class="lrc-unit1"><input type="date" ng-model="lrc.newUser.birthday" class="add-addUnit"><label class="lrc-label">Birthday</label></div>
    <div class="lrc-unit1"><input type="password" ng-model="lrc.newUser.password1" class="add-addUnit"><label class="lrc-label">Password</label></div>
    <div class="lrc-unit1"><input type="password" ng-model="lrc.newUser.password2" class="add-addUnit"><label class="lrc-label">Confirm Password</label></div>
    <div class="main-error" ng-if="lrc.detailLack">Please fill in all fields</div>
    <div class="main-error" ng-if="!lrc.passwordMatch">Passwords must match</div>
    <div class="main-error" ng-if="!lrc.passwordLength">Passwords must be at least 8 characters</div>
    <div class="main-error" ng-if="lrc.invalidUsername">Please enter a unique email address</div>
    <div class="main-error" ng-if="lrc.otherError">Error, please try again</div>
    <div ng-click="register()" class="main-link">Register</div>


    <div class="main-head">Register a bot</div>
    <div ng-click="main.setLocation('/registerBot')" class="main-link">Register</div>

</body>
</html>