<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="main-title">{{gcc.group.name}}</div>
    <div class="chat-body">
        <div ng-repeat="x in gcc.messages.messages">
            <div ng-if="gcc.isUser(x.from)">
                <div class="main-chat-right">
                    <div class="main-chat-time">{{x.dateTime}}</div>
                    <div class="main-chat-text">{{x.text}}</div>
                </div>
            </div>
            <div ng-if="!gcc.isUser(x.from)">
                <div class="main-chat-left">
                    <div class="main-chat-user">{{gcc.idToMemberName[x.from]}}</div>
                    <div class="main-chat-time">{{x.dateTime}}</div>
                    <div class="main-chat-text">{{x.text}}</div>
                </div>
            </div>
        </div>
    </div>
    <div layout="column" layout-align="center end" class="chat-submit">
        <mdinput-container>
            <label>Write something!</label>
            <input type="text" ng-model="gcc.myMessage">
        </mdinput-container>
        <md-button ng-click="gcc.sendMessage()" ng-style="main.button">Send</md-button>
    </div>
</body>
</html>